{% extends "layout.html" %}

{% block body %}
 <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{project.project_name}}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{project.project_user}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{project.project_created_date}}</p>

        <hr>
        {% if project.project_image  %}
         <img class="img-fluid rounded" src="{{project.project_image.url}}" alt="">
        {% endif %}

       
 
        <hr>

        <!-- Post Content -->
        <p class="lead">{{project.project_content|safe}}</p>

        <hr>
        <h3>Yorumlar</h3>
        <hr>
        {% if  comments %}

        {% for comment in comments %}
             <div class="media mb-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">{{comment.comment_user}}</h5>
                {{comment.comment_date}}
                <br>
                {{comment.comment_content}}
              </div>
            </div>
        {% endfor %}

        {% else %}
        <div class="alert alert-danger">
        Bu projeye herhangi bir yorum yazılmamış,ilk yorum yapan siz olun!
        </div>
        {% endif %}

        <div class="card my-4">
        <h5 class="card-header">Yorum Ekle:</h5>
        <div class="card-body">
          

          <form method="Post" action="{% url 'Projects:comment' project.id %} ">
          {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1">İsim</label>
              <input name="comment_user" type="textarea" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="İsminizi Giriniz">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Yorum</label>
              <textarea name ="comment_content"class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-danger">Ekle</button>
          </form>
        </div>
      </div>   

        </div>
    <!-- /.row -->

   </div>
      

{% endblock body %}
