{% extends "layout.html" %}
{% load static %}


{% block body2 %}
     <!--/ Intro Skew Star /-->
  <div id="home" href="{% url 'index' %}" class="intro route bg-image" style="background-image: url(static/img/mutlu.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <br><br><br>
          <br><br><br>
          <br><br><br>
          <br><br><br>
          <br><br><br>
          <h1 class="intro-title mb-4">Hasan Mutlu BOZDEMİR</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Bilişim Teknolojileri ve Yazılım Öğretmneni</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->    
{% endblock body2 %}